    @largeScreens: ~"(min-width: 1920px)";
    @tablets: ~"(max-width: 768px)";
    @phones: ~"(max-width: 425px)";

    @font-face {
        font-family: AFuturicalThin;
        src: url(../fonts/aFuturicalThin.ttf);
    }

    .responsive {
        width: 100%;
        height: auto;
    }

    .opacity(@value: 0.5) {
            @ieValue: @value * 100;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ieValue})";
            -moz-opacity: @value;
            -khtml-opacity: @value;
            opacity: @value;
    }


    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: #000;

        .img-container {
            display: none;
        }

        .progress-bar {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -154px;
            width: 308px;
            height: 56px;
            background: transparent url('../images/preloader.png') left top no-repeat;

            .filler {
                height: 56px;
                width: 0;
                background: transparent url('../images/preloader.png') left bottom no-repeat;
            }
        }
    }

    body {
            background: #FCF5ED url('../images/bg_layer_clouds.jpg') 0 0 no-repeat;
            background-attachment: fixed;
            color: #fff;
            font-family: 'AFuturicalThin', 'Open Sans', sans-serif;
            overflow-x: hidden;

            @media screen and (min-width: 1980px) {
                background-size: cover;
            }
    }

    .bg-layers {

        @media screen {

            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -960px;
            z-index: 2;

            .bg-layer1 {
                width: 1920px;
                height: 1657px;
                background: transparent url('../images/bg_layer1.png') 0 0 no-repeat;
            }
            
            .bg-layer2 {
                width: 1920px;
                height: 3140px;
                background: transparent url('../images/bg_layer2.jpg') 0 0 no-repeat;
            }

            @media @largeScreens {

                margin-left: -2048px;

                .bg-layer1 {
                    width: 4096px;
                    height: 3535px;
                    background: transparent url('../images/bg_layer1_large.png') 0 0 no-repeat;
                }

                .bg-layer2 {
                    width: 4096px;
                    height: 6699px;
                    background: transparent url('../images/bg_layer2_large.jpg') 0 0 no-repeat;
                }
            }

        }

    }
    
    @headerWidth: 80%;
    @headerBgColor: #1d1f26;

    header {
        position: fixed;
        left: 0;
        right: 0;
        top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: @headerWidth;
        background-color: @headerBgColor;
        border: 1px solid #33393F;
        z-index: 10;

        display: none; // hidden by default to be faded in on page load

        &.scrolled {
            .opacity(0.7);
        }

        .title {
                text-transform: uppercase;
                font-size: 32px;
                padding: 10px 20px;
            }
            
        .header-logo {
                float: right;
                padding-top: 10px;

                @media @phones {
                    display: none;
                } 
            }

            &:hover .dropdown-menu {
                ul {
                    @media screen {
                        height: 50px;

                        @media @tablets {
                            overflow: visible;

                            &.right-menu {
                                margin-top: 100px
                            }
                        }
                    }
                }
            }
    }

    .dropdown-menu {

        @media screen {
            .right-menu {
                float: right;

                li {
                    width: 100px;
                }
            }

            .left-menu {
                float: left;

                li {
                    width: 185px;
                }
            }

            ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    background-color: #1d1f26;

                    height: 0;
                    -webkit-transition:height 100ms ease-in;
                    -moz-transition:height 100ms ease-in;
                    -o-transition:height 100ms ease-in;
                    transition:height 100ms ease-in;
                
                    li {
                        float: left;
                        border: 1px solid #33393F;
                        height: 100%;

                        &:hover {
                            background-color: #fff;
                            color: #1d1f26;
                        }
                    
                        a {
                            display: block;
                            color: inherit;
                            text-align: left;
                            font-size: 14px;
                            font-weight: bold;
                            padding: 20px 0 0 10px;
                            text-decoration: none;
                        }
                    }
                }

                @media @tablets {
                    .right-menu, .left-menu{
                        float: none;

                        li {
                            width: 100%;
                            float: none;
                            background-color: @headerBgColor;
                        }
                    }
                }
            }
        }

    .content-block {
        background: #000;
        .opacity(0.8);
        position: relative;
        z-index: 10;
        display: none; // hidden by default to be faded in on page load
    }

    .content {
        width: 100%;
        z-index: 5;
    }

    .first {
        width: 100%;
        height: 1050px;
        
        @media @largeScreens {
            height: 2100px;
        }
            .first-container{
                @media screen {
                    margin-top: 440px;
                    width: 75%;
                    height: 400px;
                    margin-left: auto;
                    margin-right: auto;
                    position: relative;
                }
                @media @largeScreens {
                    margin-top: 1200px;
                }
                
                .content-block {
                    position: absolute;
                    width: 60%;
                    height: 60%;
                    bottom: 0;
                }   
            }
        }

    .video-tour {
            width: 100%;
            height: 1200px;

            @media @largeScreens {
                height: 2400px;
            }

        .content-block {
            width: 85%;
            height: 640px;
            margin: 0 auto;
        }
    }

    .features {
        width: 100%;
        height: 1200px;

        @media @largeScreens {
            height: 2400px;
        }

        .features-container {
            position: relative;
            width: @headerWidth;
            height: 400px;
            margin: 0 auto;


            .content-block {
                position: absolute;
                width: 100%;
                height: 200px;
                bottom: 0;
            }
        }
    }

    .colors {
        width: 100%;

        .content-block {
            width: @headerWidth;
            height: 642px;
            margin: 0 auto;
        }
    }