@font-face {
  font-family: AFuturicalThin;
  src: url(../fonts/aFuturicalThin.ttf);
}
.responsive {
  width: 100%;
  height: auto;
}
body {
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: 110%;
  background-color: #000;
  color: #fff;
  font-family: 'AFuturicalThin', 'Open Sans', sans-serif;
}
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: #1d1f26;
  border: 1px solid #33393F;
  z-index: 1000;
}
header.scrolled {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
header .title {
  text-transform: uppercase;
  font-size: 32px;
  padding: 10px 20px;
}
header .header-logo {
  float: right;
  padding-top: 10px;
}
header:hover .dropdown-menu ul {
  height: 50px;
}
.dropdown-menu .right-menu {
  float: right;
}
.dropdown-menu .right-menu li {
  width: 100px;
}
.dropdown-menu .left-menu {
  float: left;
}
.dropdown-menu .left-menu li {
  width: 185px;
}
.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d1f26;
  border: 1px solid #33393F;
  height: 0;
  -webkit-transition: height 100ms ease-in;
  -moz-transition: height 100ms ease-in;
  -o-transition: height 100ms ease-in;
  transition: height 100ms ease-in;
}
.dropdown-menu ul li {
  float: left;
  border: 1px solid #33393F;
  height: 100%;
}
.dropdown-menu ul li:hover {
  background-color: #fff;
  color: #1d1f26;
}
.dropdown-menu ul li a {
  display: block;
  color: inherit;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  padding: 20px 0 0 10px;
  text-decoration: none;
}
.content-block {
  background: #000;
  opacity: 0.5;
}
.first {
  padding: 15% 0 21% 13%;
  margin-top: 10%;
}
.first .content-block {
  width: 60%;
  max-width: 1200px;
  height: 400px;
}
.video-tour {
  padding-bottom: 15%;
}
.video-tour .content-block {
  width: 85%;
  margin: 0 auto;
}
@media screen {
  .video-tour .content-block {
    height: 640px;
  }
}
@media screen and (max-width: 1024px) {
  .video-tour .content-block {
    height: 420px;
  }
}
.features {
  height: 950px;
  padding-top: 15%;
}
.features .content-block {
  width: 73%;
  height: 195px;
  margin: 0 auto;
}
.colors {
  height: 400px;
  padding: 5% 0;
}
.colors .content-block {
  width: 73%;
  height: 100%;
  margin: 0 auto;
}
